*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    width: 1366px;
    background: linear-gradient(to right top, #271d1a, #211917, #1b1514, #161010, #0e0a0a, #0d0708, #0c0306, #0a0005, #0e000c, #0e0213, #0a041a, #00081f);
    background: url("img/milan_img.png");
    background-attachment: fixed;
    background-size: cover;
}

.header{
    width: 1030px;
    margin-top: 51px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(1030,1px);
    grid-template-rows: repeat(100,1px);

}
.link_header{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: white;
}
.link_header:hover{
    color: #F26522;
}
.logo_text{
    grid-column: 61/160;
    font-weight: 700;
    padding-top: 1px;
}
.logo_text_top{
    font-size: 29px;
}
.logo_text_bottom{
    grid-row: 31/53;
}
.contact_text{
    grid-column: 795/1015;
}
.contact_num {
    grid-column: 865/1015;
    grid-row: 30/51;
}
.main{
    width: 1030px;
}
.main_grid{
    color: white;
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    display: grid;
    grid-template-columns: repeat(3,300px);
    row-gap: 78px;
    column-gap: 51px;
}
.grid_part {
    width: 300px;
    height: 220px;
    position: relative;
    background: dimgrey;
}
.grid_link{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    bottom: -240px;
    right: -90px;
}
.grid_link:hover{
    color: #F26522;
}
.grid_link_short{
    padding-left: 20px;
}
.grid_link_last{
    padding-left: 10px;
}
.grid_part_one{
    background: url("img/grid_image_1.png");
    background-size: cover;
    position: relative;
}
.offer{
    position: absolute;
    top: 190px;
    display: flex;
    visibility: hidden;

}
.price{
    position: relative;
    right: -16px;
    font-size: 20px;
}
.price:before{
    content:'from';
    font-size: 10px;
    font-weight: 400;
    position: absolute;
    top: -18px;
}
.grid_part:hover  .offer{
    visibility: visible;
}
.details{
    position: absolute;
    right: -260px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}
.details:after {
    content: " ";
    border:  solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    margin-left: 10px;
    transform: rotate(-45deg);
}
.grid_part:before{
    content: "";
    position: absolute;
    bottom: 0;
}
.grid_part:hover:before{
    width: 300px;
    height: 55px;
    background-color: #F26522;
    position: absolute;
    content: " ";
    animation-name: slideup;
    animation-duration: 0.5s;
}
.grid_part_two{
    height: 220px;
    background: url("img/grid_image_2.png");
    background-size:cover;
}
.grid_part_three{
    background: url("img/grid_image_3.png");
    background-size: cover;
}
.grid_part_four{
    background: url("img/grid_image_4.png");
    background-size: cover;
}
.grid_part_five{
    background: url("img/grid_image_5.png");
    background-size: cover;
}
.grid_part_six{
    background: url("img/grid_image_6.png");
    background-size: cover;
}
.footer{
    margin-top: 90px;
    color: white;
    font-size: 12px;
    font-weight: 400;
    margin-left: 525px;
}
@keyframes slideup{
    0%{
        bottom: -20px;
        background-color: #F26522;
        opacity: 20%;
    }
    25%{
        opacity: 40%;
    }
    50%{
        opacity: 60%;
    }
    75%{
        opacity: 80%;
    }
    100%{
        bottom: 0;
        background-color: #F26522;
    }
}